<a href="https://colab.research.google.com/github/JonathanPhillips/2022-VOR-Model/blob/main/VOR2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

In [36]:
df['RUSH_YD'] = df['RUSH_YD'].astype(str).astype(float)
df['REC_YD'] = df['REC_YD'].astype(str).astype(float)

In [39]:
df.dtypes

Player       object
Team         object
POS          object
RUSH_ATT    float64
RUSH_YD     float64
RUSH_TD     float64
REC         float64
REC_YD      float64
REC_TD      float64
FL          float64
PASS_ATT    float64
CMP         float64
PASS_YD      object
PASS_TD     float64
INTS        float64
dtype: object

In [42]:
df['PASS_YD'] = df['PASS_YD'].str.replace(',', '').astype(float)

In [44]:
df.dtypes

Player       object
Team         object
POS          object
RUSH_ATT    float64
RUSH_YD     float64
RUSH_TD     float64
REC         float64
REC_YD      float64
REC_TD      float64
FL          float64
PASS_ATT    float64
CMP         float64
PASS_YD     float64
PASS_TD     float64
INTS        float64
dtype: object

In [4]:
df = pd.read_csv('/content/all_compiled.csv', index_col=0)

comma_columns = ['RUSH_YD', 'REC_YD', 'PASS_YD']
for column in comma_columns:
  df[column] = df[column].str.replace(',', '').astype(float)

df['PPR'] = df['RUSH_YD'] + df['REC_YD'] + df['PASS_TD']*.04 + df['RUSH_TD'] + df['REC_TD']*6 \
+ df['PASS_TD']*4 + df['REC'] + df['FL']*-2 + df['INTS']*-2

df.sort_values(by='PPR', ascending=False).head()

,Player,Team,POS,RUSH_ATT,RUSH_YD,RUSH_TD,REC,REC_YD,REC_TD,FL,PASS_ATT,CMP,PASS_YD,PASS_TD,INTS,PPR
1,Jonathan Taylor,IND,RB,323.9,1618.7,13.6,42.6,363.6,1.7,2.7,0.0,0.0,0.0,0.0,0.0,2043.3
3,Derrick Henry,TEN,RB,377.7,1572.4,11.6,30.3,227.3,0.4,2.6,0.0,0.0,0.0,0.0,0.0,1838.8
1,Cooper Kupp,LAR,WR,4.1,20.8,0.1,123.7,1569.3,11.9,0.8,0.0,0.0,0.0,0.0,0.0,1783.7
2,Austin Ekeler,LAC,RB,220.2,945.2,9.4,74.5,687.4,5.6,2.3,0.0,0.0,0.0,0.0,0.0,1745.5
4,Dalvin Cook,MIN,RB,295.3,1271.9,9.9,47.9,374.9,1.1,2.8,0.0,0.0,0.0,0.0,0.0,1705.6

In [14]:
ADP_URL = 'https://www.fantasypros.com/nfl/adp/ppr-overall.php'

res = requests.get(ADP_URL)

soup = BS(res.content, 'html.parser')

table = soup.find('table', attrs={
    'id': 'data'
})

adp_df = pd.read_html(str(table))[0]
adp_df['Player'] = adp_df['Player Team (Bye)'].apply(lambda x: ' '.join(x.split()[:-2]))
adp_df['Team'] = adp_df['Player Team (Bye)'].apply(lambda x: x.split()[-2])
adp_df.head(50)

,Rank,Player Team (Bye),POS,ESPN,RTSports,MFL,Fantrax,FFC,Sleeper,AVG,Player,Team
0,1,Christian McCaffrey CAR (13) O,RB1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,Christian McCaffrey CAR,(13)
1,2,Dalvin Cook MIN (7),RB2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,Dalvin Cook,MIN
2,3,Alvin Kamara NO (6),RB3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,Alvin Kamara,NO
3,4,Derrick Henry TEN (13),RB4,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Derrick Henry,TEN
4,5,Ezekiel Elliott DAL (7),RB5,8.0,5.0,6.0,5.0,5.0,5.0,5.8,Ezekiel Elliott,DAL
5,6,Davante Adams LV (8),WR1,5.0,6.0,5.0,6.0,6.0,10.0,6.6,Davante Adams,LV
6,7,Travis Kelce KC (12),TE1,7.0,9.0,10.0,8.0,8.0,12.0,8.4,Travis Kelce,KC
7,8,Aaron Jones GB (13),RB6,10.0,11.0,7.0,10.0,9.0,11.0,9.4,Aaron Jones,GB
8,9,Saquon Barkley NYG (10),RB7,6.0,10.0,11.0,11.0,13.0,7.0,9.6,Saquon Barkley,NYG
9,10,Austin Ekeler LAC (7),RB8,13.0,8.0,12.0,12.0,7.0,13.0,10.4,Austin Ekeler,LAC
10,11,Jonathan Taylor IND (14),RB9,11.0,7.0,13.0,7.0,15.0,9.0,10.4,Jonathan Taylor,IND
11,12,Nick Chubb CLE (13),RB10,12.0,12.0,9.0,9.0,11.0,6.0,10.4,Nick Chubb,CLE
12,13,Tyreek Hill MIA (14),WR2,9.0,13.0,8.0,13.0,10.0,8.0,10.6,Tyreek Hill,MIA
13,14,Stefon Diggs BUF (7),WR3,14.0,14.0,14.0,14.0,14.0,15.0,14.0,Stefon Diggs,BUF
14,15,Najee Harris PIT (7),RB11,15.0,16.0,16.0,15.0,12.0,16.0,15.6,Najee Harris,PIT
15,16,DeAndre Hopkins ARI (12),WR4,17.0,19.0,18.0,17.0,17.0,17.0,17.2,DeAndre Hopkins,ARI
16,17,Antonio Gibson WAS (9),RB12,16.0,15.0,20.0,16.0,16.0,21.0,17.6,Antonio Gibson,WAS
17,18,Patrick Mahomes II KC (12),QB1,19.0,21.0,15.0,21.0,22.0,14.0,18.2,Patrick Mahomes II,KC
18,19,Calvin Ridley ATL (6),WR5,20.0,18.0,19.0,18.0,18.0,19.0,18.4,Calvin Ridley,ATL
19,20,DK Metcalf SEA (9),WR6,18.0,20.0,17.0,20.0,19.0,18.0,18.8,DK Metcalf,SEA
20,21,Joe Mixon CIN (10),RB13,24.0,17.0,21.0,19.0,20.0,20.0,20.8,Joe Mixon,CIN
21,22,Darren Waller LV (8),TE2,21.0,22.0,22.0,23.0,23.0,26.0,22.4,Darren Waller,LV
22,23,Justin Jefferson MIN (7),WR7,23.0,23.0,25.0,24.0,24.0,23.0,23.4,Justin Jefferson,MIN
23,24,A.J. Brown PHI (14),WR8,22.0,25.0,26.0,25.0,25.0,22.0,23.8,A.J. Brown,PHI
24,25,Clyde Edwards-Helaire KC (12),RB14,26.0,24.0,24.0,22.0,21.0,25.0,24.2,Clyde Edwards-Helaire,KC
25,26,George Kittle SF (6),TE3,25.0,32.0,28.0,26.0,31.0,24.0,26.8,George Kittle,SF
26,27,Keenan Allen LAC (7),WR9,28.0,30.0,23.0,27.0,26.0,27.0,27.4,Keenan Allen,LAC
27,28,Terry McLaurin WAS (9),WR10,27.0,27.0,32.0,30.0,30.0,29.0,29.6,Terry McLaurin,WAS
28,29,Josh Allen BUF (7),QB2,29.0,33.0,27.0,33.0,33.0,28.0,30.0,Josh Allen,BUF
29,30,David Montgomery CHI (10),RB15,34.0,26.0,31.0,28.0,27.0,35.0,30.2,David Montgomery,CHI
30,31,Allen Robinson II LAR (11),WR11,32.0,34.0,34.0,29.0,34.0,31.0,32.0,Allen Robinson II,LAR
31,32,Chris Carson SEA (9) O,RB16,37.0,31.0,29.0,32.0,28.0,34.0,32.4,Chris Carson SEA,(9)
32,33,CeeDee Lamb DAL (7),WR12,30.0,28.0,35.0,34.0,32.0,40.0,32.8,CeeDee Lamb,DAL
33,34,James Robinson JAC (7) O,RB17,31.0,29.0,33.0,37.0,29.0,37.0,33.4,James Robinson JAC,(7)
34,35,Mike Evans TB (9),WR13,33.0,40.0,30.0,36.0,39.0,32.0,35.4,Mike Evans,TB
35,36,Josh Jacobs LV (8),RB18,40.0,36.0,36.0,35.0,35.0,30.0,36.4,Josh Jacobs,LV
36,37,D'Andre Swift DET (9),RB19,44.0,35.0,42.0,31.0,36.0,33.0,36.8,D'Andre Swift,DET
37,38,Miles Sanders PHI (14),RB20,35.0,38.0,37.0,39.0,38.0,39.0,38.2,Miles Sanders,PHI
38,39,Robert Woods TEN (13) O,WR14,36.0,37.0,41.0,38.0,37.0,47.0,38.4,Robert Woods TEN,(13)
39,40,Kyler Murray ARI (12),QB3,39.0,44.0,40.0,42.0,44.0,36.0,40.2,Kyler Murray,ARI
40,41,Amari Cooper CLE (13),WR15,38.0,42.0,44.0,40.0,41.0,42.0,41.2,Amari Cooper,CLE
41,42,Chris Godwin TB (9) O,WR16,46.0,41.0,39.0,41.0,48.0,44.0,42.4,Chris Godwin TB,(9)
42,43,Lamar Jackson BAL (8),QB4,43.0,50.0,38.0,50.0,51.0,43.0,44.8,Lamar Jackson,BAL
43,44,Cooper Kupp LAR (11),WR17,47.0,43.0,49.0,43.0,45.0,46.0,46.0,Cooper Kupp,LAR
44,45,Julio Jones,WR18,49.0,56.0,45.0,44.0,52.0,41.0,46.2,,Julio
45,46,Kyle Pitts ATL (6),TE4,50.0,49.0,50.0,53.0,40.0,38.0,47.0,Kyle Pitts,ATL
46,47,Tyler Lockett SEA (9),WR19,42.0,47.0,53.0,47.0,49.0,52.0,49.2,Tyler Lockett,SEA
47,48,Myles Gaskin MIA (14),RB21,61.0,46.0,43.0,45.0,42.0,56.0,49.8,Myles Gaskin,MIA
48,49,Mark Andrews BAL (8),TE5,45.0,53.0,55.0,54.0,53.0,48.0,50.6,Mark Andrews,BAL
49,50,Adam Thielen MIN (7),WR20,41.0,61.0,46.0,46.0,56.0,51.0,50.6,Adam Thielen,MIN

In [15]:
adp_df['POS'] = adp_df['POS'].str[:2]
adp_df = adp_df.loc[:, ['Player', 'Team', 'POS', 'Rank']]
adp_df.head()

                    Player  Team POS  Rank
0  Christian McCaffrey CAR  (13)  RB     1
1              Dalvin Cook   MIN  RB     2
2             Alvin Kamara    NO  RB     3
3            Derrick Henry   TEN  RB     4
4          Ezekiel Elliott   DAL  RB     5

In [17]:
adp_cutoff = 150
adp_cutoff_df = adp_df.sort_values(by='Rank')[:adp_cutoff]
adp_cutoff_df = adp_cutoff_df.merge(df.loc[:, ['Player', 'Team', 'POS', 'PPR']], on=['Player', 'Team', 'POS'])
adp_cutoff_df.head(50)

                   Player Team POS  Rank       PPR
0             Dalvin Cook  MIN  RB     2  1705.600
1            Alvin Kamara   NO  RB     3  1513.100
2           Derrick Henry  TEN  RB     4  1838.800
3         Ezekiel Elliott  DAL  RB     5  1149.300
4           Davante Adams   LV  WR     6  1509.400
5            Travis Kelce   KC  TE     7  1385.500
6             Aaron Jones   GB  RB     8  1350.600
7          Saquon Barkley  NYG  RB     9  1302.800
8           Austin Ekeler  LAC  RB    10  1745.500
9         Jonathan Taylor  IND  RB    11  2043.300
10             Nick Chubb  CLE  RB    12  1427.300
11            Tyreek Hill  MIA  WR    13  1317.500
12           Stefon Diggs  BUF  WR    14  1454.000
13           Najee Harris  PIT  RB    15  1594.100
14        DeAndre Hopkins  ARI  WR    16   706.300
15         Antonio Gibson  WAS  RB    17  1322.700
16     Patrick Mahomes II   KC  QB    18   494.960
17             DK Metcalf  SEA  WR    20  1187.800
18              Joe Mixon  CIN  RB    21  1493.100
19          Darren Waller   LV  TE    22  1102.900
20       Justin Jefferson  MIN  WR    23  1680.300
21             A.J. Brown  PHI  WR    24  1280.200
22  Clyde Edwards-Helaire   KC  RB    25  1094.200
23          George Kittle   SF  TE    26  1061.900
24           Keenan Allen  LAC  WR    27  1280.200
25         Terry McLaurin  WAS  WR    28  1251.000
26             Josh Allen  BUF  QB    29   829.588
27       David Montgomery  CHI  RB    30  1487.300
28      Allen Robinson II  LAR  WR    31  1063.700
29            CeeDee Lamb  DAL  WR    33  1403.600
30             Mike Evans   TB  WR    35  1269.200
31            Josh Jacobs   LV  RB    36  1308.800
32          D'Andre Swift  DET  RB    37  1430.600
33          Miles Sanders  PHI  RB    38  1332.700
34           Kyler Murray  ARI  QB    40   547.752
35           Amari Cooper  CLE  WR    41  1126.000
36          Lamar Jackson  BAL  QB    43   994.368
37            Cooper Kupp  LAR  WR    44  1783.700
38             Kyle Pitts  ATL  TE    46  1080.000
39          Tyler Lockett  SEA  WR    47  1190.100
40           Myles Gaskin  MIA  RB    48   312.600
41           Mark Andrews  BAL  TE    49  1277.800
42           Adam Thielen  MIN  WR    50   963.700
43        Diontae Johnson  PIT  WR    51  1288.300
44               DJ Moore  CAR  WR    52  1329.100
45          Aaron Rodgers   GB  QB    53   230.592
46         Russell Wilson  DEN  QB    54   367.340
47           Dak Prescott  DAL  QB    55   277.504
48            Kareem Hunt  CLE  RB    57  1025.700
49  Darrell Henderson Jr.  LAR  RB    59   657.900

In [19]:
replacement_values = {}
for _, row in adp_cutoff_df.iterrows():
  replacement_values[row['POS']] = row['PPR']

replacement_values

{'QB': 553.932, 'RB': 923.0, 'TE': 625.3, 'WR': 940.0999999999999}

In [24]:
vor_df = df.loc[:, ['Player', 'Team', 'POS', 'PPR']].rename({'POS': 'Position'}, axis=1)
vor_df['VOR'] = vor_df.apply(lambda row: row['PPR'] - replacement_values[row['Position']], axis=1)
vor_df.head()

            Player Team Position     PPR     VOR
1  Jonathan Taylor  IND       RB  2043.3  1120.3
2    Austin Ekeler  LAC       RB  1745.5   822.5
3    Derrick Henry  TEN       RB  1838.8   915.8
4      Dalvin Cook  MIN       RB  1705.6   782.6
5        Joe Mixon  CIN       RB  1493.1   570.1

In [25]:
vor_df.sort_values(by='VOR', ascending=False).head(20)

                 Player Team Position     PPR     VOR
1       Jonathan Taylor  IND       RB  2043.3  1120.3
3         Derrick Henry  TEN       RB  1838.8   915.8
1           Cooper Kupp  LAR       WR  1783.7   843.6
2         Austin Ekeler  LAC       RB  1745.5   822.5
4           Dalvin Cook  MIN       RB  1705.6   782.6
1          Travis Kelce   KC       TE  1385.5   760.2
8   Christian McCaffrey  CAR       RB  1665.2   742.2
3      Justin Jefferson  MIN       WR  1680.3   740.2
2          Deebo Samuel   SF       WR  1676.6   736.5
7          Najee Harris  PIT       RB  1594.1   671.1
2          Mark Andrews  BAL       TE  1277.8   652.5
4         Ja'Marr Chase  CIN       WR  1584.1   644.0
9          Alvin Kamara   NO       RB  1513.1   590.1
5             Joe Mixon  CIN       RB  1493.1   570.1
6         Davante Adams   LV       WR  1509.4   569.3
10     David Montgomery  CHI       RB  1487.3   564.3
5          Stefon Diggs  BUF       WR  1454.0   513.9
16            Cam Akers  LAR       RB  1431.1   508.1
12        D'Andre Swift  DET       RB  1430.6   507.6
14           Nick Chubb  CLE       RB  1427.3   504.3